body {
    background: url(https://grmdaily.com/wp-content/uploads/2023/11/meatkatia_mock-up_of_a_new_Grand_Theft_Auto_game_set_in_fiction_7170352d-9947-493f-b76a-03e48c304ddb.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-size: cover;
    background: #ffffff;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
}

h1 {
    margin: 0;
}

.main {
    padding: 10px;
}
main {
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
}

.news-section {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-section h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.news-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.news-item img, .news-item video {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 5px;
}

.news-content {
    padding: 5px 0;
}

.news-content h3 {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 5px;
}

.news-content p {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.news-likes, .news-comments, .news-shares {
    font-size: 12px;
    color: #333;
    margin-bottom: 5px;
}

.news-content .read-more {
    color: #007bff;
    text-decoration: none;
}

.news-content .read-more:hover {
    text-decoration: underline;
}

.pagination {
    margin-top: 10px;
    text-align: center;
}

.pagination a {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #f0f2f5;
}
